Microsoft .NET/Watermarking/Backup1/Service References/ConversionService/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.muhimbi.com/2009/10/06" elementFormDefault="qualified" targetNamespace="http://services.muhimbi.com/2009/10/06" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41734/Muhimbi.DocumentConverter.WebService/?xsd=xsd2" namespace="http://types.muhimbi.com/2009/10/06" />
  <xs:import schemaLocation="http://localhost:41734/Muhimbi.DocumentConverter.WebService/?xsd=xsd14" namespace="http://types.muhimbi.com/2018/01/11" />
  <xs:element name="Convert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceFile" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q1="http://types.muhimbi.com/2009/10/06" minOccurs="0" name="openOptions" nillable="true" type="q1:OpenOptions" />
        <xs:element xmlns:q2="http://types.muhimbi.com/2009/10/06" minOccurs="0" name="conversionSettings" nillable="true" type="q2:ConversionSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyWatermark">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceFile" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q3="http://types.muhimbi.com/2009/10/06" minOccurs="0" name="openOptions" nillable="true" type="q3:OpenOptions" />
        <xs:element xmlns:q4="http://types.muhimbi.com/2009/10/06" minOccurs="0" name="conversionSettings" nillable="true" type="q4:ConversionSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyWatermarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplyWatermarkResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplySecurity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceFile" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q5="http://types.muhimbi.com/2009/10/06" minOccurs="0" name="openOptions" nillable="true" type="q5:OpenOptions" />
        <xs:element xmlns:q6="http://types.muhimbi.com/2009/10/06" minOccurs="0" name="conversionSettings" nillable="true" type="q6:ConversionSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplySecurityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplySecurityResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceFile" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q7="http://types.muhimbi.com/2009/10/06" minOccurs="0" name="openOptions" nillable="true" type="q7:OpenOptions" />
        <xs:element xmlns:q8="http://types.muhimbi.com/2009/10/06" minOccurs="0" name="conversionSettings" nillable="true" type="q8:ConversionSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessChangesResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://types.muhimbi.com/2009/10/06" minOccurs="0" name="options" nillable="true" type="q9:ProcessingOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://types.muhimbi.com/2009/10/06" minOccurs="0" name="ProcessBatchResult" nillable="true" type="q10:BatchResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfiguration">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://types.muhimbi.com/2009/10/06" minOccurs="0" name="GetConfigurationResult" nillable="true" type="q11:Configuration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiagnostics">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://types.muhimbi.com/2009/10/06" minOccurs="0" name="convertersToDiagnose" nillable="true" type="q12:ArrayOfDiagnosticRequestItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiagnosticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://types.muhimbi.com/2009/10/06" minOccurs="0" name="GetDiagnosticsResult" nillable="true" type="q13:Diagnostics" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://types.muhimbi.com/2018/01/11" minOccurs="0" name="statusRequest" nillable="true" type="q14:StatusRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://types.muhimbi.com/2018/01/11" minOccurs="0" name="GetStatusResult" nillable="true" type="q15:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>