Microsoft .NET/OCR PDF (PrimeOCR)/Service References/ConversionService/item6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://types.muhimbi.com/2014/02/06" elementFormDefault="qualified" targetNamespace="http://types.muhimbi.com/2014/02/06" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41734/Muhimbi.DocumentConverter.WebService/?xsd=xsd8" namespace="http://types.muhimbi.com/2010/11/22" />
  <xs:complexType name="SystemSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="TaskMonitorSettings" nillable="true" type="tns:TaskMonitorSettings" />
      <xs:element minOccurs="0" name="CultureName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SystemSettings" nillable="true" type="tns:SystemSettings" />
  <xs:complexType name="TaskMonitorSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaxHungCount" type="xs:int" />
      <xs:element minOccurs="0" name="MaxPendingCount" type="xs:int" />
      <xs:element minOccurs="0" name="MaxRunDuration" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskMonitorSettings" nillable="true" type="tns:TaskMonitorSettings" />
  <xs:complexType name="ConverterSpecificSettings_Spreadsheets">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://types.muhimbi.com/2010/11/22" base="q1:ConverterSpecificSettings">
        <xs:sequence>
          <xs:element minOccurs="0" name="FitToPagesWide" type="xs:int" />
          <xs:element minOccurs="0" name="FitToPagesTall" type="xs:int" />
          <xs:element minOccurs="0" name="UnhideAllRows" type="xs:boolean" />
          <xs:element minOccurs="0" name="UnhideAllColumns" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConverterSpecificSettings_Spreadsheets" nillable="true" type="tns:ConverterSpecificSettings_Spreadsheets" />
</xs:schema>