Microsoft .NET/MS Office Watermarking/Service References/ConversionService/item11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data.Graphics" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data.Graphics" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41734/Muhimbi.DocumentConverter.WebService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="HPosition">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Absolute" />
      <xs:enumeration value="Random" />
      <xs:enumeration value="Left" />
      <xs:enumeration value="Center" />
      <xs:enumeration value="Right" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="HPosition" nillable="true" type="tns:HPosition" />
  <xs:simpleType name="VPosition">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Absolute" />
      <xs:enumeration value="Random" />
      <xs:enumeration value="Top" />
      <xs:enumeration value="Middle" />
      <xs:enumeration value="Bottom" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VPosition" nillable="true" type="tns:VPosition" />
  <xs:simpleType name="ScaleMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Absolute" />
      <xs:enumeration value="MaintainAspectRatio" />
      <xs:enumeration value="ExactFit" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ScaleMode" nillable="true" type="tns:ScaleMode" />
  <xs:simpleType name="FontStyle">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Default">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Regular">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Bold">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Italic">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Underline">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Strikeout">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="FontStyle" nillable="true" type="tns:FontStyle" />
  <xs:simpleType name="HAlign">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Center" />
      <xs:enumeration value="Justify" />
      <xs:enumeration value="Left" />
      <xs:enumeration value="Right" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="HAlign" nillable="true" type="tns:HAlign" />
  <xs:simpleType name="VAlign">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Middle" />
      <xs:enumeration value="Bottom" />
      <xs:enumeration value="Top" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VAlign" nillable="true" type="tns:VAlign" />
  <xs:simpleType name="WordWrap">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="WordOnly" />
      <xs:enumeration value="Character" />
      <xs:enumeration value="None" />
      <xs:enumeration value="Word" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WordWrap" nillable="true" type="tns:WordWrap" />
  <xs:simpleType name="ErrorCorrectionLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Low" />
      <xs:enumeration value="Medium" />
      <xs:enumeration value="Quartile" />
      <xs:enumeration value="High" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ErrorCorrectionLevel" nillable="true" type="tns:ErrorCorrectionLevel" />
  <xs:simpleType name="BarcodeInputMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Binary" />
      <xs:enumeration value="AlphaNumeric">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Numeric">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BarcodeInputMode" nillable="true" type="tns:BarcodeInputMode" />
  <xs:simpleType name="QRCodeVersion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Auto" />
      <xs:enumeration value="Version01" />
      <xs:enumeration value="Version02" />
      <xs:enumeration value="Version03" />
      <xs:enumeration value="Version04" />
      <xs:enumeration value="Version05" />
      <xs:enumeration value="Version06" />
      <xs:enumeration value="Version07" />
      <xs:enumeration value="Version08" />
      <xs:enumeration value="Version09" />
      <xs:enumeration value="Version10" />
      <xs:enumeration value="Version11" />
      <xs:enumeration value="Version12" />
      <xs:enumeration value="Version13" />
      <xs:enumeration value="Version14" />
      <xs:enumeration value="Version15" />
      <xs:enumeration value="Version16" />
      <xs:enumeration value="Version17" />
      <xs:enumeration value="Version18" />
      <xs:enumeration value="Version19" />
      <xs:enumeration value="Version20" />
      <xs:enumeration value="Version21" />
      <xs:enumeration value="Version22" />
      <xs:enumeration value="Version23" />
      <xs:enumeration value="Version24" />
      <xs:enumeration value="Version25" />
      <xs:enumeration value="Version26" />
      <xs:enumeration value="Version27">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">26</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Version28" />
      <xs:enumeration value="Version29" />
      <xs:enumeration value="Version30" />
      <xs:enumeration value="Version31" />
      <xs:enumeration value="Version32" />
      <xs:enumeration value="Version33" />
      <xs:enumeration value="Version34" />
      <xs:enumeration value="Version35" />
      <xs:enumeration value="Version36" />
      <xs:enumeration value="Version37" />
      <xs:enumeration value="Version38" />
      <xs:enumeration value="Version39" />
      <xs:enumeration value="Version40" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="QRCodeVersion" nillable="true" type="tns:QRCodeVersion" />
  <xs:simpleType name="BarcodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Codabar" />
      <xs:enumeration value="Code11" />
      <xs:enumeration value="Code32" />
      <xs:enumeration value="Code39" />
      <xs:enumeration value="Code39Extended" />
      <xs:enumeration value="Code93" />
      <xs:enumeration value="Code93Extended" />
      <xs:enumeration value="Code128" />
      <xs:enumeration value="Code128A" />
      <xs:enumeration value="Code128B" />
      <xs:enumeration value="Code128C" />
      <xs:enumeration value="GS1Code128" />
      <xs:enumeration value="UPC_A" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BarcodeType" nillable="true" type="tns:BarcodeType" />
  <xs:simpleType name="BarcodeTextLocation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Bottom" />
      <xs:enumeration value="None" />
      <xs:enumeration value="Top" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BarcodeTextLocation" nillable="true" type="tns:BarcodeTextLocation" />
  <xs:simpleType name="PageOrientation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Portrait" />
      <xs:enumeration value="Landscape" />
      <xs:enumeration value="Both" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PageOrientation" nillable="true" type="tns:PageOrientation" />
  <xs:simpleType name="PageType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NotSet">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Default">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="First">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Even">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="PageType" nillable="true" type="tns:PageType" />
</xs:schema>