Microsoft .NET/Import PDF Forms Data/Service References/ConversionService/item14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41734/Muhimbi.DocumentConverter.WebService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="MacroSecurityOption">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="SignedOnly" />
      <xs:enumeration value="All" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MacroSecurityOption" nillable="true" type="tns:MacroSecurityOption" />
  <xs:simpleType name="OutputFormat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PDF" />
      <xs:enumeration value="XPS" />
      <xs:enumeration value="DOCX" />
      <xs:enumeration value="DOC" />
      <xs:enumeration value="ODT" />
      <xs:enumeration value="RTF" />
      <xs:enumeration value="TXT" />
      <xs:enumeration value="MHT" />
      <xs:enumeration value="HTML" />
      <xs:enumeration value="XML" />
      <xs:enumeration value="XLS" />
      <xs:enumeration value="XLSX" />
      <xs:enumeration value="CSV" />
      <xs:enumeration value="ODS" />
      <xs:enumeration value="PPT" />
      <xs:enumeration value="PPTX" />
      <xs:enumeration value="ODP" />
      <xs:enumeration value="PPS" />
      <xs:enumeration value="PPSX" />
      <xs:enumeration value="TIFF" />
      <xs:enumeration value="PNG" />
      <xs:enumeration value="GIF" />
      <xs:enumeration value="JPG" />
      <xs:enumeration value="BMP" />
      <xs:enumeration value="PS" />
      <xs:enumeration value="PCL" />
      <xs:enumeration value="EPS" />
      <xs:enumeration value="FDF" />
      <xs:enumeration value="XFDF" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OutputFormat" nillable="true" type="tns:OutputFormat" />
  <xs:simpleType name="ConversionRange">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VisibleDocuments" />
      <xs:enumeration value="AllDocuments" />
      <xs:enumeration value="ActiveDocuments" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConversionRange" nillable="true" type="tns:ConversionRange" />
  <xs:simpleType name="ConversionQuality">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OptimizeForPrint" />
      <xs:enumeration value="OptimizeForOnScreen" />
      <xs:enumeration value="Original" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConversionQuality" nillable="true" type="tns:ConversionQuality" />
  <xs:simpleType name="PDFProfile">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PDF_1_5">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PDF_A1B">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PDF_A2B">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PDF_A2U">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PDF_A3B">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PDF_A3U">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PDF_1_1">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">110</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PDF_1_2">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">120</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PDF_1_3">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">130</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PDF_1_4">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">140</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PDF_1_6">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">160</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PDF_1_7">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">170</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PDFProfile" nillable="true" type="tns:PDFProfile" />
  <xs:simpleType name="SecurityOptions">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="DisablePrint" />
          <xs:enumeration value="DisableHighResolutionPrint" />
          <xs:enumeration value="DisableContentCopy" />
          <xs:enumeration value="DisableAnotations" />
          <xs:enumeration value="DisableFormFields" />
          <xs:enumeration value="DisableContentAccessibility" />
          <xs:enumeration value="DisableDocumentAssembly" />
          <xs:enumeration value="DisableSecurity" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="SecurityOptions" nillable="true" type="tns:SecurityOptions" />
  <xs:simpleType name="ConversionFidelities">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="High" />
          <xs:enumeration value="Full" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ConversionFidelities" nillable="true" type="tns:ConversionFidelities" />
  <xs:simpleType name="BookmarkGenerationOption">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Disabled" />
      <xs:enumeration value="Automatic" />
      <xs:enumeration value="Custom" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BookmarkGenerationOption" nillable="true" type="tns:BookmarkGenerationOption" />
  <xs:simpleType name="RevisionsAndCommentsMarkupMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InLine">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Balloon">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Mixed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RevisionsAndCommentsMarkupMode" nillable="true" type="tns:RevisionsAndCommentsMarkupMode" />
  <xs:simpleType name="RevisionsAndCommentsDisplayMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FinalShowingMarkup">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Final">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OriginalShowingMarkup">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Original">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SimpleMarkup" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RevisionsAndCommentsDisplayMode" nillable="true" type="tns:RevisionsAndCommentsDisplayMode" />
  <xs:simpleType name="OCRLanguage">
    <xs:restriction base="xs:string">
      <xs:enumeration value="All">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Arabic">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SimplifiedChinese">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TraditionalChinese">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Danish">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">20</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="German">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">30</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="English">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">40</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="English_UK">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">42</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="English_US">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">43</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Dutch">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">50</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Finnish">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">60</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="French">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">70</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Hebrew">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">85</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Hungarian">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">90</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Italian">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">100</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Japanese">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">103</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Korean">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">106</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Norwegian">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">110</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Portuguese">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">120</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Russian">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">125</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Spanish">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">130</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Swedish">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">140</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OCRLanguage" nillable="true" type="tns:OCRLanguage" />
  <xs:simpleType name="PropertyCategories">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BuiltIn" />
      <xs:enumeration value="OfficeBuiltInProperties" />
      <xs:enumeration value="OfficeCustomProperties" />
      <xs:enumeration value="PdfBuiltInProperties" />
      <xs:enumeration value="PdfCustomProperties" />
      <xs:enumeration value="PdfXmp" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PropertyCategories" nillable="true" type="tns:PropertyCategories" />
  <xs:simpleType name="WordBuiltInProperties">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Title" />
      <xs:enumeration value="Subject" />
      <xs:enumeration value="Author" />
      <xs:enumeration value="Keywords" />
      <xs:enumeration value="Comments" />
      <xs:enumeration value="Template" />
      <xs:enumeration value="LastAuthor" />
      <xs:enumeration value="Revision" />
      <xs:enumeration value="AppName" />
      <xs:enumeration value="TimeLastPrinted" />
      <xs:enumeration value="TimeCreated" />
      <xs:enumeration value="TimeLastSaved" />
      <xs:enumeration value="VBATotalEdit" />
      <xs:enumeration value="Pages" />
      <xs:enumeration value="Words" />
      <xs:enumeration value="Characters" />
      <xs:enumeration value="Security" />
      <xs:enumeration value="Category" />
      <xs:enumeration value="Manager" />
      <xs:enumeration value="Company" />
      <xs:enumeration value="Bytes" />
      <xs:enumeration value="Lines" />
      <xs:enumeration value="Paras" />
      <xs:enumeration value="Notes" />
      <xs:enumeration value="CharsWSpaces" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WordBuiltInProperties" nillable="true" type="tns:WordBuiltInProperties" />
  <xs:simpleType name="PdfBuiltInProperties">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Title" />
      <xs:enumeration value="Author" />
      <xs:enumeration value="Subject" />
      <xs:enumeration value="Keywords" />
      <xs:enumeration value="CreationDate" />
      <xs:enumeration value="ModificationDate" />
      <xs:enumeration value="Creator" />
      <xs:enumeration value="Producer" />
      <xs:enumeration value="PdfVersion" />
      <xs:enumeration value="PageSize" />
      <xs:enumeration value="TaggedPdf" />
      <xs:enumeration value="Pages" />
      <xs:enumeration value="FastWebView" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PdfBuiltInProperties" nillable="true" type="tns:PdfBuiltInProperties" />
  <xs:simpleType name="PresentationsPrintOutputType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Slides">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OneSlideHandouts">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TwoSlideHandouts" />
      <xs:enumeration value="ThreeSlideHandouts" />
      <xs:enumeration value="FourSlideHandouts">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SixSlideHandouts">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NineSlideHandouts">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NotesPages">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Outline">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PresentationsPrintOutputType" nillable="true" type="tns:PresentationsPrintOutputType" />
  <xs:simpleType name="BooleanEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="True" />
      <xs:enumeration value="False" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BooleanEnum" nillable="true" type="tns:BooleanEnum" />
  <xs:simpleType name="ContentScale">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="NoScale" />
      <xs:enumeration value="FitWidth" />
      <xs:enumeration value="FitHeight" />
      <xs:enumeration value="FitPage" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ContentScale" nillable="true" type="tns:ContentScale" />
  <xs:simpleType name="MergeMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Merge" />
      <xs:enumeration value="AttachAsPDF" />
      <xs:enumeration value="AttachOriginal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MergeMode" nillable="true" type="tns:MergeMode" />
  <xs:simpleType name="UnsupportedFileBehaviour">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Error" />
      <xs:enumeration value="Remove" />
      <xs:enumeration value="AttachOriginal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UnsupportedFileBehaviour" nillable="true" type="tns:UnsupportedFileBehaviour" />
  <xs:simpleType name="CadConversionElementType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AllLayouts" />
      <xs:enumeration value="NamedLayout" />
      <xs:enumeration value="TopView" />
      <xs:enumeration value="BottomView" />
      <xs:enumeration value="LeftView" />
      <xs:enumeration value="RightView" />
      <xs:enumeration value="FrontView" />
      <xs:enumeration value="BackView" />
      <xs:enumeration value="SW_IsometricView" />
      <xs:enumeration value="SE_IsometricView" />
      <xs:enumeration value="NE_IsometricView" />
      <xs:enumeration value="NW_IsometricView" />
      <xs:enumeration value="NamedView" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CadConversionElementType" nillable="true" type="tns:CadConversionElementType" />
  <xs:simpleType name="CadEmptyLayoutDetectionMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="SkipNone" />
      <xs:enumeration value="SkipEmptyLayouts" />
      <xs:enumeration value="SkipLayoutsWithoutViewports" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CadEmptyLayoutDetectionMode" nillable="true" type="tns:CadEmptyLayoutDetectionMode" />
  <xs:simpleType name="CadLayoutSortOrder">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Ascending" />
      <xs:enumeration value="Descending" />
      <xs:enumeration value="TabOrder" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CadLayoutSortOrder" nillable="true" type="tns:CadLayoutSortOrder" />
  <xs:simpleType name="HTMLScaleMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="FitWidth" />
      <xs:enumeration value="NoScale" />
      <xs:enumeration value="FitWidthScaleImagesOnly" />
      <xs:enumeration value="FitWidthScaleWideImagesOnly" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="HTMLScaleMode" nillable="true" type="tns:HTMLScaleMode" />
  <xs:simpleType name="HTMLRenderingEngine">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="IE" />
      <xs:enumeration value="WebKit" />
      <xs:enumeration value="Chromium" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="HTMLRenderingEngine" nillable="true" type="tns:HTMLRenderingEngine" />
  <xs:simpleType name="AuthenticationMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="WebAuthentication" />
      <xs:enumeration value="MSOAuthentication" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AuthenticationMode" nillable="true" type="tns:AuthenticationMode" />
  <xs:simpleType name="MediaType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Screen" />
      <xs:enumeration value="Print" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MediaType" nillable="true" type="tns:MediaType" />
  <xs:simpleType name="MSGPlainTextLineBreaks">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RetainAll">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RemoveExtra">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Legacy">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MSGPlainTextLineBreaks" nillable="true" type="tns:MSGPlainTextLineBreaks" />
  <xs:simpleType name="MSGBestBodyMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Strict">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Default">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MSGBestBodyMode" nillable="true" type="tns:MSGBestBodyMode" />
  <xs:simpleType name="MSGEmailAddressDisplayMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Name">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NameAndAddress">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Address">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NameAndSMTPAddress">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MSGEmailAddressDisplayMode" nillable="true" type="tns:MSGEmailAddressDisplayMode" />
  <xs:simpleType name="MSGEmbeddedObjectDisplayMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InlineNoScale">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InlineFitWidth">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Disabled">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MSGEmbeddedObjectDisplayMode" nillable="true" type="tns:MSGEmbeddedObjectDisplayMode" />
  <xs:simpleType name="MSGEmbeddedObjectIconDisplayMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IconOnly">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Disabled">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MSGEmbeddedObjectIconDisplayMode" nillable="true" type="tns:MSGEmbeddedObjectIconDisplayMode" />
  <xs:simpleType name="ForceMessageHeaderEncoding">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="None" />
      <xs:enumeration value="UTF8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ForceMessageHeaderEncoding" nillable="true" type="tns:ForceMessageHeaderEncoding" />
  <xs:simpleType name="PDFConvertAttachmentMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="RemoveAll" />
      <xs:enumeration value="RemoveSupported" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PDFConvertAttachmentMode" nillable="true" type="tns:PDFConvertAttachmentMode" />
  <xs:simpleType name="PDFPageLayout">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SinglePage" />
      <xs:enumeration value="OneColumn" />
      <xs:enumeration value="TwoColumnLeft" />
      <xs:enumeration value="TwoColumnRight" />
      <xs:enumeration value="TwoPageLeft" />
      <xs:enumeration value="TwoPageRight" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PDFPageLayout" nillable="true" type="tns:PDFPageLayout" />
  <xs:simpleType name="PDFNavigationPane">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Bookmarks" />
      <xs:enumeration value="Thumbnails" />
      <xs:enumeration value="OptionalContent">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Attachments">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PDFNavigationPane" nillable="true" type="tns:PDFNavigationPane" />
  <xs:simpleType name="PDFPageScalingMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PDFPageScalingMode" nillable="true" type="tns:PDFPageScalingMode" />
  <xs:simpleType name="NamedDestinationProcessingMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="None" />
      <xs:enumeration value="ClearAll" />
      <xs:enumeration value="Merge" />
      <xs:enumeration value="Replace" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NamedDestinationProcessingMode" nillable="true" type="tns:NamedDestinationProcessingMode" />
  <xs:simpleType name="OCRPerformance">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Slow" />
      <xs:enumeration value="Fast" />
      <xs:enumeration value="Rapid" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OCRPerformance" nillable="true" type="tns:OCRPerformance" />
  <xs:simpleType name="OCROutputType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Text" />
          <xs:enumeration value="PDF" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="OCROutputType" nillable="true" type="tns:OCROutputType" />
  <xs:simpleType name="TOCLocation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Front" />
      <xs:enumeration value="Back" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TOCLocation" nillable="true" type="tns:TOCLocation" />
  <xs:simpleType name="DocumentStartPage">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Next" />
      <xs:enumeration value="Odd" />
      <xs:enumeration value="Even" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DocumentStartPage" nillable="true" type="tns:DocumentStartPage" />
  <xs:simpleType name="WebServiceExceptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="FileFormatNotSupported" />
      <xs:enumeration value="CorruptDocument" />
      <xs:enumeration value="ErrorOpeningFile" />
      <xs:enumeration value="ConversionTimeOut" />
      <xs:enumeration value="ConverterNotResponding" />
      <xs:enumeration value="ConverterNotInstalled" />
      <xs:enumeration value="InternalError" />
      <xs:enumeration value="OutputFormatNotSupported" />
      <xs:enumeration value="ConfigurationError" />
      <xs:enumeration value="TrialExpired" />
      <xs:enumeration value="ExternalDependencyError" />
      <xs:enumeration value="AttachmentNotSupported" />
      <xs:enumeration value="DocumentLocked" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WebServiceExceptionType" nillable="true" type="tns:WebServiceExceptionType" />
  <xs:simpleType name="FileSplitType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ByNumberOfPages" />
      <xs:enumeration value="ByBookmarkLevel" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FileSplitType" nillable="true" type="tns:FileSplitType" />
  <xs:simpleType name="OperationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Convert" />
      <xs:enumeration value="Merge" />
      <xs:enumeration value="OCR" />
      <xs:enumeration value="Watermark" />
      <xs:enumeration value="Secure" />
      <xs:enumeration value="Split" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OperationType" nillable="true" type="tns:OperationType" />
  <xs:simpleType name="OperationStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Allowed" />
      <xs:enumeration value="Denied_ExceededMaxConcurrentCalls" />
      <xs:enumeration value="Denied_ExceededConverterMaxConcurrentCalls" />
      <xs:enumeration value="Denied_ExceededOperationMaxConcurrentCalls" />
      <xs:enumeration value="Denied_UnsupportedOperationType" />
      <xs:enumeration value="Denied_UnsupportedFileType" />
      <xs:enumeration value="Denied_UnsupportedConverter" />
      <xs:enumeration value="Denied_OperationDisabled" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OperationStatus" nillable="true" type="tns:OperationStatus" />
</xs:schema>