Microsoft .NET/Import PDF Forms Data/Service References/ConversionService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://types.muhimbi.com/2014/04/16" elementFormDefault="qualified" targetNamespace="http://types.muhimbi.com/2014/04/16" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41734/Muhimbi.DocumentConverter.WebService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" />
  <xs:import schemaLocation="http://localhost:41734/Muhimbi.DocumentConverter.WebService/?xsd=xsd8" namespace="http://types.muhimbi.com/2010/11/22" />
  <xs:complexType name="ConverterSpecificSettings_PDF">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://types.muhimbi.com/2010/11/22" base="q1:ConverterSpecificSettings">
        <xs:sequence>
          <xs:element minOccurs="0" name="ConvertAttachments" type="xs:boolean" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" minOccurs="0" name="ConvertAttachmentMode" type="q2:PDFConvertAttachmentMode" />
          <xs:element minOccurs="0" name="IgnorePortfolioCoverSheet" type="xs:boolean" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" minOccurs="0" name="AttachmentMergeMode" type="q3:MergeMode" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" minOccurs="0" name="UnsupportedAttachmentBehaviour" type="q4:UnsupportedFileBehaviour" />
          <xs:element minOccurs="0" name="BreakMergeOnError" type="xs:boolean" />
          <xs:element minOccurs="0" name="IncludeAttachmentTypes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExcludeAttachmentTypes" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConverterSpecificSettings_PDF" nillable="true" type="tns:ConverterSpecificSettings_PDF" />
  <xs:complexType name="ConverterSpecificSettings_PdfFormsDataImporter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://types.muhimbi.com/2010/11/22" base="q5:ConverterSpecificSettings">
        <xs:sequence>
          <xs:element minOccurs="0" name="PdfTemplateData" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="PdfTemplateURL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PdfTemplateUserName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PdfTemplateDomain" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PdfTemplatePassword" nillable="true" type="xs:string" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" minOccurs="0" name="Flatten" type="q6:BooleanEnum" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" minOccurs="0" name="ReadOnly" type="q7:BooleanEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConverterSpecificSettings_PdfFormsDataImporter" nillable="true" type="tns:ConverterSpecificSettings_PdfFormsDataImporter" />
</xs:schema>