Microsoft .NET/Convert PDF to PDF-A/Backup/Service References/ConversionService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://types.muhimbi.com/2015/04/13" elementFormDefault="qualified" targetNamespace="http://types.muhimbi.com/2015/04/13" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SubscriptionSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="SubscriptionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForceTrialWatermark" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionSettings" nillable="true" type="tns:SubscriptionSettings" />
</xs:schema>